{{define "title"}}Login{{end}}

{{define "main"}}
	<form action='/login' method='POST' novalidate>
		<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
		{{range .Form.NonFieldErrors}}
			<div class='error'>{{.}}</div>
		{{end}}
		<div>
			<label for='email'>Email:</label>
			<input type='email' name='email' id='email' value='{{.Form.Email}}'>
			{{with .Form.FieldErrors.email}}
				<em class='error'>{{.}}</em>
			{{end}}
		</div>
		<div>
			<label for='password'>Password:</label>
			<input type='password' name='password' id='password'>
			{{with .Form.FieldErrors.password}}
				<em class='error'>{{.}}</em>
			{{end}}
		</div>
		<div>
			<input type='submit' value='Login'>
		</div>
	</form>
{{end}}
