{{define "title"}}Change Password{{end}}

{{define "main"}}
	<h2>Change Password</h2>
	<form action='/account/password/update' method='POST' novalidate>
		<input type="hidden" name="csrf_token" value='{{.CSRFToken}}'>
		<div>
			<label for="currentPassword">Current password:</label>
			<input type="password" name="currentPassword" id="currentPassword"/>
			{{with .Form.FieldErrors.currentPassword}}
				<em class="error">{{.}}</em>
			{{end}}
		</div>
		<div>
			<label for="newPassword">New password:</label>
			<input type="password" name="newPassword" id="newPassword" />
			{{with .Form.FieldErrors.newPassword}}
				<em class="error">{{.}}</em>
			{{end}}
		</div>
		<div>
			<label for="newPasswordConfirmation">Confirm new password:</label>
			<input type="password" name="newPasswordConfirmation" id="newPasswordConfirmation" />
			{{with .Form.FieldErrors.newPasswordConfirmation}}
				<em class="error">{{.}}</em>
			{{end}}
		</div>
		<div>
			<input type="submit" value="Change password" />
		</div>
	</form>
{{end}}